.sideMain {
  width: 50%;
  height: 100vh;
  background: linear-gradient(180deg, #4285f4 0%, #286de0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  color: #fff;
}

.landing{
    display: flex;
}
.logo{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 20px;
}
.board{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}
.icons1{
    display: flex;
}
.img{
    width: 30px;
}
.imgMar{
    padding: 2px;
}
.singIn{
    font-family: 'Lato';
}